.r-1mdbhws > .r-18u37iz {
  display: none;
}

.r-1mdbhws > .r-18u37iz ~ .r-18u37iz {
  display: flex;
}

.r-1yzf0co > .r-1mf7evn {
  display: none;
}

.r-1yzf0co > .r-1mf7evn ~ .r-1mf7evn {
  display: flex;
}
